.App {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.logo{
  padding-top: 25px;
  width: 700px;
}

hr{
  border: 1px solid rgb(212, 169, 106);
}

.Upper{
  background: url(./img/bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}